.fotomia {
	width: 400px;
	height: auto;
	float: right;
	margin: 15px 10%;
}
.fotomia {
	transition:all .5s ease-in-out;
	filter: blur(10px);
}
.fotomia:hover {
	filter: blur(0px);
	transition:all .5s ease-in-out;
}
main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.title {
	font-size: 40px;
	text-align: center;
}
.container {
	display: flex;
	gap: 20px;
	align-items: center;
	margin: 15px 10%;
}
.col {
	flex: 1;
}
.col div {
	padding-left: 10px;
}
.col h1 {
	font-weight: bold;
}
.col h2 {
	padding-left: 10px;
	font-weight: lighter;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
.separador {
	border: 0;
	border-top: 2px solid #333;
	width: 50%;
	margin: 20px auto;
}
.linea-vertical {
	height: 500px;
	width: 2px;
	background-color: black;
	margin: 0 auto;
}

/* animaciones */
.raise.active {
    background-color:	#1D5F8A;
}

.raise:hover,
.raise:focus {
	background-color: black;
	box-shadow: 0 1em 2em -0.2em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}
.raise {
  --color: #2FA4E7;
  --hover: #00B4FF;
}
button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
button {
	background-color: white;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}