.fotomia {
	width: 350px;
	height: auto;
	transition:all .5s ease-in-out;
	filter: blur(10px);
	align-content: center;
	border: black solid 1px;
	border-radius: 10px;
}
.fotomia:hover {
	filter: blur(0px);
	transition:all .5s ease-in-out;
}
li {
	font-size: large;
	transition:all .5s ease-in-out;
}
li:hover {
	color: #9e0c0c;
	font-size: xx-large;
	transition:all .5s ease-in-out;
}
.main-content {
	margin: 2vh;
	min-height: 72vh;
	padding: 10px;
	align-items: center;
	border: black solid 2px;
	border-radius: 15px;
	background-color:#5fb7f1 ;
	box-shadow: #333 -10px 10px 20px;
}
main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.title {
	font-size: 40px;
	text-align: center;
	transition:all .5s ease-in-out;
}
.title:hover {	
	color: #581818;
	transition:all .5s ease-in-out;
	font-size: 55px;
}
.container {
	display: flex;
	height: auto;
	width: 80%;
	gap: 20px;
	align-items: center;
	margin: 15px 10%;
}
.col {
	flex: 1;
}
.col div {
	padding-left: 10px;
}
.col h1 {
	font-weight: bold;
}
.col h2 {
	padding-left: 10px;
	font-weight: lighter;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
.separador {
	border: 0;
	border-top: 2px solid #333;
	width: 50%;
	margin: 20px auto;
}
.linea-vertical {
	height: 500px;
	width: 2px;
	background-color: black;
	margin: 0 auto;
}
:has(#menu[aria-expanded="true"]) .nav-links {
  display: unset;
}
.nav-links {
  display: none;
  width: 100%;
  margin: 0;
}

/* animaciones */
.raise.active {
    background-color:	#1D5F8A;
}

.raise:hover,
.raise:focus {
	background-color: black;
	box-shadow: 0 1em 2em -0.2em var(--hover);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
}
.raise {
  --color: #2FA4E7;
  --hover: hsl(180 100% 50%);
}
button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border-radius: 10px;
	background-color: white;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}
@media (max-width: 650px) {
	.container {
		flex-direction: column;
		width: 100%;
	}
	.linea-vertical {
		display: none;
	}
	
}
@media screen and (min-width: 650px) {
	.nav-links {
    	display: block;
    	position: static;
    	width: auto;
    	background: none;
  	}
  	.nav-links button{
   		display: inline-block;
    	padding: 15px 20px;
  	}
	#menu {
		display:none;
	}
}