---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
    <main>
        <h1 class="title">Historial Laboral</h1>
        <hr class="separador" />
        <div class="col">
            <h1>Louis Alexander royal group S.L.</h1>
            <h2>Abril 2024 - Junio 2024</h2>
            <ul>
                <li>
                    Puesta en práctica el desarrollo de aplicaciones
                    multiplataforma y multisistema
                </li>
                <li>Trabajo y organización en equipo</li>
                <li>
                    Organización de tareas y priorización de actividades en
                    remoto
                </li>
            </ul>

            <h1>Sistecom</h1>
            <h2>Marzo 2022 - Junio 2022</h2>
            <ul>
                <li>Montaje y reparación de equipos informáticos</li>
                <li>
                    Instalación, actualización y reconfiguración de sistemas
                    operativos
                </li>
                <li>Gestión de venta de componentes informáticos</li>
            </ul>
            
        </div>
    </main>
</Layout>
