---
import Layout from "../layouts/Layout.astro";
import '../styles/global.css';
---

<Layout>
    <main>
        <h1 class="title">Formación</h1>

        <hr class="separador" />

        <div class="container">
            <div class="col">
                <h1>Grado medio:</h1>
                <h2>Sistemas microinformáticos y redes (SMR)</h2>

                <h1>Grado superior:</h1>
                <h2>Desarrollo de aplicaciones multiplataforma (DAM)</h2>

                <h1>Bootcamp:</h1>
                <h2>Java avanzado</h2>
            </div>
            <div class="linea-vertical"></div>
            <div class="col">
                <h1>Lenguajes de programación:</h1>
                <ul>
                    <li>Java (Avanzado)</li>
                    <li>C# (Avanzado)</li>
                    <li>Git (Avanzado)</li>
                    <li>HTML (Medio)</li>
                    <li>CSS (Medio)</li>
                    <li>PHP (Medio)</li>
                    <li>Python (Medio)</li>
                    <li>JavaScript (Bajo)</li>
                </ul>

                <h1>Idiomas:</h1>
                <ul>
                    <li>Español (Nativo)</li>
                    <li>Inglés (B1)</li>
                </ul>
            </div>
        </div>
    </main>
</Layout>

