---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
	<main>
		<h1 class="title">Alberto Escamilla Dorado</h1>
		<hr class="separador" />
		<div class="container">
			<div class="col">
				<img src="/images/fotomia.png" alt="foto mia" class="fotomia" />
			</div>
			<div class="linea-vertical"></div>
			<div class="col">
				<h1>Número</h1>
				<h2>+34 625 54 44 58</h2>

				<h1>Correo electronico</h1>
				<h2>Alesdo2003@gmail.com</h2>

				<h1>Direccion</h1>
				<h2>Móstoles, Madrid</h2>

				<h1>Fecha de nacimiento</h1>
				<h2>26 de junio de 2003</h2>
			</div>
		</div>
	</main>
</Layout>
