---
import Navigation from './Navigation.astro';
---

<header>
  <script src="button.js" defer></script>
  <nav>
    <Navigation />
  </nav>
</header> 
<style>
    header {
        background-color: #0B3C5D;
        padding: 1rem;
        display: flex;
        justify-content: center;
    }
</style>