---
import Menu from "./Menu.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <Menu />
    <Navigation />
  </nav>
</header>
<style>
  div {
    display: flex;
    justify-content: space-between;
  }
  header {
    background-color: #0b3c5d;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
</style>
