---
const currentPath = Astro.url.pathname;
---
<div id="main-menu">
    <button 
        class={`raise ${currentPath === "/" ? "active" : ""}`} 
        onclick="window.location.href='/'">
        Contacto
    </button>

    <button 
        class={`raise ${currentPath === "/formacion" ? "active" : ""}`} 
        onclick="window.location.href='/formacion'">
        Formacion
    </button>

    <button 
        class={`raise ${currentPath === "/experiencia" ? "active" : ""}`} 
        onclick="window.location.href='/experiencia'">
        Experiencia
    </button>

    <button 
        class={`raise ${currentPath === "/aptitudes" ? "active" : ""}`} 
        onclick="window.location.href='/aptitudes'">
        Aptitudes
    </button>
</div>
<style>
    div {
        display: flex;
        gap: 1rem;
    }
    a {
        font-size: 30px;
        color: white;
        text-decoration: none;
        padding: 0px 50px;
    }
</style>