---

---

<div id="main-menu">
    <a href="/">Contacto</a>
    <a href="/formacion/">Formacion</a>
    <a href="/experiencia/">Experiencia</a>
    <a href="/aptitudes/">Aptitudes</a>
</div>
<style>
    div {
        display: flex;
        gap: 1rem;
    }
    a {
        font-size: 30px;
        color: white;
        text-decoration: none;
        padding: 0px 50px;
    }
</style>