---
const currentPath = Astro.url.pathname;
---
<div id="main-menu">
    <button 
        class={`raise ${currentPath === "/CV-Web/" ? "active" : ""}`} 
        onclick="window.location.href='/CV-Web/'">
        Contacto
    </button>

    <button 
        class={`raise ${currentPath === "/CV-Web/formacion/" ? "active" : ""}`} 
        onclick="window.location.href='/CV-Web/formacion/'">
        Formacion
    </button>

    <button 
        class={`raise ${currentPath === "/CV-Web/experiencia/" ? "active" : ""}`} 
        onclick="window.location.href='/CV-Web/experiencia/'">
        Experiencia
    </button>

    <button 
        class={`raise ${currentPath === "/CV-Web/aptitudes/" ? "active" : ""}`} 
        onclick="window.location.href='/CV-Web/aptitudes/'">
        Aptitudes
    </button>
</div>
<style>
    div {
        display: flex;
        gap: 1rem;
    }
    a {
        font-size: 30px;
        color: white;
        text-decoration: none;
        padding: 0px 50px;
    }
</style>