---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="" />
		<link rel="icon" href="" />
		<meta name="generator" content={Astro.generator} />
		<title>CV Alberto Escamilla Dorado</title>
	</head>
	<body>
		<Header />
		<div class="main-content">
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style>
	body {
		margin: 0;
		position: relative;
		min-height: 100vh;
		overflow: hidden;
		align-items: center;
	}
	html {
		width: 100vw;
		height: 100vh;
	}
</style>
